.skills {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.skills__title {
  font-weight: 400;
  font-size: 22px;
  color: #7a736b;
  margin: 0;
}

.skills__span {
  color: #ff8f00;
  text-shadow: 1px 1px 2px #000, 0 0 1em #ff8f00;
}

.skills__container {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 20px 0 0;
  padding: 0;
  flex-wrap: wrap;
  width: 320px;
}

.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.skills__tooltip {
  font-weight: 400;
  font-size: 14px;
  padding: 10px;
  background: black;
  border-radius: 20px;
  position: absolute;
  top: -40px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease;
}

.skills__icon {
  width: 50px;
  transition: transform 0.3s ease;
}

.skills__icon:hover {
  transform: scale(1.2);
}

.skills__item:hover .skills__tooltip {
  visibility: visible;
  opacity: 1;
}
