.navigation {
	display: flex;
	justify-content: flex-end;
	width: 80%;
}

.navigation__items {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 30px;
}

.navigation__item {}

.navigation__link {
	text-decoration: none;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
}

.navigation__link_active {
	color: #ff8f00;
	text-shadow: 1px 1px 2px #000, 0 0 1em #ff8f00;
}

.navigation__link_inactive {}

.navigation__link_inactive:hover {
	color: #b98d54;
	text-shadow: 1px 1px 2px #000, 0 0 1em #a2845d;
}